<%- include("head.ejs") %>
<body>
    <h1>Hello World</h1>

    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, sunt rerum! Nisi, id? Laborum inventore, iusto nemo quisquam nam, veniam vitae officia repellendus quis optio porro sint, illo veritatis quibusdam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque consectetur beatae labore explicabo minus corrupti similique temporibus eius expedita odio cupiditate, nam ipsa numquam accusantium. Illo vero deserunt repudiandae minus!
    </h2>
</body>
</html>