<%- include("head.ejs") %>
<body>
    <h2>The Random number is <%= randomNumber %></h2>
    <% if (randomNumber === 6) { %>
        <h2>Congratulations! You rolled a six!</h2>
    <% } else { %>
        <h2>Sorry, you didn't roll a six. Try again!</h2>
    <% } %>
    <%- include("footer.ejs") %>
</body>
</html>