body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: wheat
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: maroon;
    color: white;
}